name: build-dcache-system

on:
  push:
    branches:
      - dcache-system

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          registry: docker.tarsyun.com
          username: ${{ secrets.name }}
          password: ${{ secrets.pass }}
      - name: Create Build
        run: |
          docker run --rm --privileged tonistiigi/binfmt:latest --install all
          docker buildx create --name k8s-framework-builder --use
          docker buildx inspect --bootstrap --builder k8s-framework-builder
      - name: Buildx amd64
        run: |
          docker buildx build . -t all:amd64 -f dockerfile/Dockerfile --platform linux/amd64 -o type=docker
      - name: Buildx arm64
        run: |
          docker buildx build . -t all:arm64 -f dockerfile/Dockerfile --platform linux/arm64 -o type=docker
      - name: Buildx Config
        run: |
          docker run -v `pwd`:/data --entrypoint "" tarscloud/base-deploy sh -c "cd /data && /usr/bin/create-buildx-dockerfile.sh cpp yaml/config.yaml latest dockerfile/Dockerfile.config"
      - name: Create Config Docker
        run: |
          ./docker-buildx-cloud.sh
